<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="mb-4">Modifier son profil</h1>

      <%= render "form", child: @child %>

      <br>

      <div>
        <%= link_to "Voir l'artiste", @child, class: "btn btn-primary" %> |
        <%= link_to "Voir les artistes", children_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>