<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Childrens</title>
</head>
<div class="container">
  <p><%= notice %></p>
  <h1>Children</h1>
  <div class="row">
    <% @children.each do |child| %>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <%= render child %>
            <p>
              <%= link_to "Show this child", child, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <%= link_to "New child", new_child_path, class: "btn btn-success" %> 
</div>
