<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="mb-4">Nouvel artist</h1>

      <%= render "form", child: @child %>

      <div>
        <%= link_to "Voir les artistes", children_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
